<!--
Copyright (C) 2017 The OmniROM Project

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU General Public License as published by
the Free Software Foundation, either version 2 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU General Public License for more details.

You should have received a copy of the GNU General Public License
along with this program.  If not, see <http://www.gnu.org/licenses/>.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.omnirom.omnistyle"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="24" />

    <application
        android:allowBackup="false"
        android:label="OmniStyle"
        android:icon="@drawable/omnirom_logo"
        android:theme="@style/Theme.OmniStyle" >
        <activity
            android:name=".BrowseHeaderActivity"
            android:label="@string/browse_header" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PickHeaderActivity"
            android:label="@string/pick_header">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BrowseThemeHeaderActivity"
            android:label="@string/browse_theme_header" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".nature"
            android:label="Nature" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".poly"
            android:label="Poly" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".naturerandom"
            android:label="Nature (random)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".wavvy"
            android:label="Wavvy" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name=".colorful"
            android:label="Colorful" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".idk_cl0udybtlg"
            android:label="Cloudy Mood" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ig_fxckingmind"
            android:label="fxckingdeathwish's mind" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".idk_sumtim"
            android:label="Summertime" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_astauroraast"
            android:label="* Aurora Borealis * (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_chasinglightnings"
            android:label="Chasing Lightnings (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_childofdarkness"
            android:label="Child of Darkness (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_diffusedreams"
            android:label="Diffuse dreams (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_luminiscentbirds"
            android:label="Luminescent birds (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_pyre"
            android:label="pyre (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_sparklinginmypond"
            android:label="sparkling in my pond (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name=".clo_starfishisland2"
            android:label="starfish island 2.2 (COLOURLOVERS)" >
            <intent-filter>
                <action android:name="org.omnirom.DaylightHeaderPack1" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
